* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: rgb(186, 186, 186);
  min-height: 70px;
}

nav {
    max-width: 950px;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .nav-left {
    max-width: 450px;
    width: 100%;
    list-style-type: none;
    display: flex;
}

.nav-left__link, .nav-end__link {
  padding: 10px 15px;
  color: black;
  text-decoration: none;
}

.nav-left__link:hover, .nav-end__link:hover {
  transition: .3s;
  background: black;
  color: white;
}

.nav-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 330px;
  width: 100%;
}

.form-wrapper__search, .info-wrapper__form {
  margin-bottom: 50px;
}

.raiting-wrapper {
  max-width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 50px;
}

.raiting-wrapper__star {
  width: 20px;
}

.rest-name, .raiting-wrapper__num {
    text-align: center;
}

.form-wrapper {
    text-align: center;
}

.form-wrapper__btn, .info-wrapper__btn {
  border: 2px solid black;
  padding: 10px 15px;
  background-color: white;
  cursor: pointer;
  margin-top: 30px;
}

.form-wrapper__btn:hover, .info-wrapper__btn:hover {
  transition: .3s;
  background-color: black;
  color: white;
}

.form-wrapper input, .info-wrapper input {
  border-radius: 0;
  height: 40px;
  width: 270px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  }

.rest-wrapper, .dish-wrapper {
    min-height: 300px;
    max-width: 965px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    padding: 0 30px;
}

.rest-wrapper__rest-card-wrapper {
  border-radius: 5px;
}

.rest-wrapper__img {
  max-width: 200px;
  border-radius: 5px 5px 0 0;
}

.rest-wrapper__title {
  margin-left: 10px;
}

.rest-name {
  margin-top: 50px;
}

.product-wrapper {
  min-height: 300px;
  max-width: 1070px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  margin: auto;
  margin-top: 30px;
  padding: 0 30px;
}

.product-wrapper a {
  text-decoration: none;
  color: black;
  padding: 0;
}

.product-wrapper a:hover {
  color: black;
}

.product-wrapper__img {
  max-width: 18rem;
  border-radius: 5px 5px 0 0;
}

.product-wrapper__price {
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.info-wrapper {
  margin: auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  gap:  50px;
}

.info-wrapper__price {
  font-size: 30px;
  font-weight: bold;
}

.info-wrapper__container {
  display: flex;
  flex-direction: column;
}

.rest-wrapper__rest-card-wrapper, .dish-card-wrapper, .product-card-wrapper {
    max-width: 200px;
    width: 100%;
    min-height: 200px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.product-wrapper__card {
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
}

.use-symb {
    opacity: 1;
}

.product-wrapper__card-body {
  padding: 10px;
}

.order-sum {
  /* display: flex;
  justify-content: end;
  gap: 10px; */
  max-width: 1000px;
  text-align: right;
  margin: 20px auto;
}

.order-btn {
  max-width: 1000px;
  text-align: right;
  margin: auto;
}

#delete-item {
  cursor: pointer;
  color: red;
}

table {
  margin: auto;
    max-width: 1000px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th {
  padding: 10px 15px;
}

tr {
  border: 1px solid black;
}

/* btn-6 */
button {
  margin: 20px;
  margin-left: 0;
  outline: none;
}
.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-6 {
  background: #000;
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #000;
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover {
  color: #000;
  background: transparent;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  background: #000;
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}

@media print {
  html, body{
		height: 297mm;
		width: 210mm;
	}
}

@page {
	margin: 20mm 15mm 20mm 30mm;
}

@media print {
	*, *:before, *:after { 
		color: #000;
		box-shadow: none;
		text-shadow: none;
	}
}

@media print {
	html, body {
		font-size: 14px;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
  header, footer, .form-wrapper {
		display: none;
	}
  .rest-wrapper {
    margin-left: 50px;
    margin-top: 50px;
  }
}

  /*
form {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

 .btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
  }
  .btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, var(--primary-color), transparent);
    transform: translateX(-100%);
    transition: 0.6s;
  }
  .btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px rgba(51, 152, 219, 0.5);
  }
  .btn:hover::before {
    transform: translateX(100%);
  }
  
  .form-input-material {
    --input-default-border-color: white;
    --input-border-bottom-color: white;
  }
  .form-input-material input {
    color: white;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
  }
  .login-form h1 {
    margin: 0 0 24px 0;
  }
  .login-form .form-input-material {
    margin: 12px 0;
  }
  .login-form .btn {
    width: 100%;
    margin: 18px 0 9px 0;
  } */